#container {
	width: $container_width;
	margin: 0 auto;

	section {
		padding: $section_vertical_padding 0;

		.left, .right {
			float: left;

			width: $left_width;
		}

		.right {
			width: $right_width;
			padding-left: $right_padding;
		}

		&#first_section {
			height: $first_section_height;
		}
	}
}
