#container {
	$container_width: 1024px;
	width: $container_width;
	margin: 0 auto;

	section {
		padding: 35px 0;
		$left_width: 448px;
		$right_width: ($container_width - $left_width);

		.left {
			width: $left_width;
			float: left;
		}

		.right {
			width: $right_width;
			float: left;
		}

		&#first_section {
			$section_height: 280px;
			height: $section_height;

			#screenshots {
				width: 100%;
				height: $section_height;

				background-image: url('../img/screenshot_preview.png');
				background-size: $left_width $section_height;

				@include box-shadow(0, 0, 7px, rgba(0, 0, 0, .5));
			}

			#features {
				$features_padding: 45px;
				$features_amount: 10;

				width: $right_width - $features_padding;
				padding-left: $features_padding;

				ul {
					list-style: none inside;
					li:before {
						line-height: $section_height / $features_amount;
						content: "•";
						margin-right: 10px;
						vertical-align: middle;
					}
				}
			}
		}
	}
}
