#features {
	$features_amount: 10;

	width: $right_width;

	ul {
		list-style: none inside;

		li:before {
			vertical-align: middle;

			margin-right: 10px;

			line-height: $first_section_height / $features_amount;
			content: "•";
		}
	}
}
