$header_height: 175px;
$title_size: 128px;

header {
	height: $header_height;
	border-bottom: 1px solid $blue_light;

	background-color: $blue_white;

	#title {
		display: table;

		height: $title_size;
		padding: (($header_height - $title_size) / 2) 0;
		margin: 0 auto;

		#logo {
			float: left;

			height: $title_size;
			width: $title_size;

			background-image: url('../img/logo.png');
			background-repeat: no-repeat;
			background-size: $title_size;
		}

		#title_text {
			display: table-cell;
			vertical-align: middle;

			h1 {
				font-size: 32px;
				line-height: 1.2em;
			}

			h2 {
				font-size: 18px;
				line-height: 1.2em;
			}
		}
	}

	#ribbon {
		@include transform(45deg);
		@include box-shadow(0, 0, 10px, #888);

		position: absolute;
		top: 40px;
		right: -50px;

		overflow: hidden;

		background-color: $blue_dark;

		font-size: 15px;
		white-space: nowrap;

		a {
			display: block;

			padding: 10px 50px;
			margin: 1px 0;
			border: 1px solid $blue_light;

			color: white;
			text-align: center;
			text-decoration: none;
			text-shadow: 0 0 5px #444;
		}
	}
}
