$header_height: 175px;
$title_size: 128px;

header {
	height: $header_height;
	background-color: $blue_white;
	border-bottom: 1px solid $blue_light;
	#title {
		display: table;
		height: $title_size;

		margin: 0 auto;
		padding: (($header_height - $title_size) / 2) 0;

		#logo {
			height: $title_size;
			width: $title_size;
			float: left;

			background-image: url('../img/logo.png');
			background-repeat: no-repeat;
			background-size: $title_size;
		}

		#title_text {
			display: table-cell;
			vertical-align: middle;
			h1 {
				font-size: 32px;
				line-height: 1.2em;
			}
			h2 {
				font-size: 18px;
				line-height: 1.2em;
			}
		}
	}

	#ribbon {
		font: 15px 'Roboto Regular', 'Helvetica Neue', Helvetica, sans-serif;

		background-color: $blue_dark;
		overflow: hidden;
		white-space: nowrap;

		position: absolute;
		right: -50px;
		top: 40px;

		@include transform(45deg);
		@include box-shadow(0, 0, 10px, #888);

		a {
			border: 1px solid $blue_light;
			color: white;
			display: block;
			margin: 1px 0;
			padding: 10px 50px;
			text-align: center;
			text-decoration: none;
			text-shadow: 0 0 5px #444;
		}
	}
}
