$roboto: 'Roboto Light', 'Helvetica Neue', Helvetica, sans-serif;

$blue_white: #F0F8FF;
$blue_light: rgba(196, 219, 241, 1);
$blue_light_half: rgba(196, 219, 241, .5);
$blue_dark: #369;

$gray: #888;
$lightgray: #F3F3F3;

$green: #79B949;
$green_light: #EDFFDF;

$red: #D16063;

$container_width: 1024px;
$section_vertical_padding: 20px;

$first_section_height: 280px;

$left_width: 448px;
$right_padding: 45px;
$right_width: ($container_width - $left_width) - $right_padding;
